.features .bi {
    font-size: 32px;
}

.footer {
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: aqua;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

.card {
    margin: 50px 0;
    flex-direction: row;
}

img {
    display: flex;
    width: 100%;
}